---
import { Icon } from 'astro-icon/components';
import SectionContainer from './sectionContainer.astro';

const teamMembers = [
  {
    name: 'Raj Patel',
    role: 'Founder & CEO',
    image: '/images/a001.webp',
    description:
      "With over 20 years in real estate, Raj's innovative vision drives our company's success in the diverse market.",
  },
  {
    name: 'Emily Thompson',
    role: 'Head of Residential Sales',
    image: '/images/a002.webp',
    description:
      "Emily's negotiation skills and understanding of family needs have helped countless clients find their perfect homes.",
  },
  {
    name: 'Aisha Johnson',
    role: 'Commercial Property Specialist',
    image: '/images/a003.webp',
    description:
      "Aisha's insights into urban development and commercial trends are unparalleled in the industry.",
  },
  {
    name: 'Marcus Carter',
    role: 'IT Specialist',
    image: '/images/a004.webp',
    description:
      "Marcus's financial acumen ensures our company's growth while maintaining a commitment to community investment.",
  },
];
---

<section class="bg-gray-50">
  <SectionContainer>
    <div class="text-center max-w-2xl mx-auto">
      <h1
        class="text-center font-semibold text-3xl sm:text-4xl md:text-5xl text-slate-900 sm:leading-10 w-full mb-4"
      >
        About The Speakers
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam.
      </p>
    </div>

    <div class="mt-24">
      <div class="grid lg:grid-cols-2 gap-6">
        {
          teamMembers.map((member) => (
            <div data-aos="custom-fade-left">
              <div class="bg-white shadow rounded p-5">
                <div class="flex flex-wrap sm:flex-nowrap gap-8">
                  <img
                    src={member.image}
                    alt={member.name}
                    class="rounded-full h-40 lg:h-28"
                  />
                  <div class="mt-5">
                    <p class="font-medium text-lg text-gray-500 mb-3">
                      {member.role}
                    </p>
                    <h2 class="text-2xl mb-0.5">{member.name}</h2>
                    <p class="text-xl/relaxed font-light mt-5">
                      {member.description}
                    </p>

                    <div class="flex items-center gap-4 mt-7">
                      <a
                        href="#"
                        class="bg-sky-700 shadow rounded-full flex items-center justify-center h-9 w-9"
                      >
                        <Icon
                          class="text-white flex items-center justify-center h-6 w-6"
                          name="mdi:linkedin"
                        />
                      </a>
                      <a
                        href="#"
                        class="bg-sky-500 shadow rounded-full flex items-center justify-center h-9 w-9"
                      >
                        <Icon
                          class="text-white flex items-center justify-center h-6 w-6"
                          name="mdi:twitter"
                        />
                      </a>
                      <a
                        href="#"
                        class="bg-blue-700 shadow rounded-full flex items-center justify-center h-9 w-9"
                      >
                        <Icon
                          class="text-white flex items-center justify-center h-6 w-6"
                          name="mdi:facebook"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </SectionContainer>
</section>
